/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
}

body {		
	margin: 0 auto;
}

	#wrapper {
		position: relative;
		width: 960px;
		display: block;
	}

	.puzzle{
			display: block;
			padding: 2px;
		}



